@import "tailwindcss";
@tailwind utilities;

:root {}

@theme inline {
    --color-beige-main: #D8C1B4;
    --color-beige-main: #D8C1B4;
    --color-beige-darker: #AB988F;
    --color-beige-darker2: #75675f;
    --color-purple: #291F26;
    --color-content-inner-overlay: #291F2690;
    --color-very-light-shadow: #00000030;

    --font-sans: var(--font-mukta);
    --font-serif: var(--font-aleo);
}

@layer utilities {
    .inset-shadow-top {
        box-shadow: inset 0 30px 30px -30px #00000088;
    }

    .outset-shadow-sides {
        box-shadow: 0 0 30px 0 #00000088;
    }

    .navbar-item-shadow {
        box-shadow: 0 0 10px 0 #00000088;
    }
}

@layer base {
    * {
        scrollbar-width: auto;
        scrollbar-color: #00000030 transparent;
    }

    /* *::-webkit-scrollbar {
        width: 9px;
        background: #00000000;
    }
    *::-webkit-scrollbar-track {
        background: #FF0000;
        border-radius: 10px;
    }
    *::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    *::-webkit-scrollbar-thumb:hover {
        background: #555;
    } */
}
